main {
  @include flex-center;
  flex-direction: column;
  height: 50vh;

  .weather-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: $s-spacing;
    margin-top: $xl-spacing;

    .weather-icon {
      width: 100px;
      margin-left: auto;
      margin-right: auto;
    }

    .weather-desc,
    .location {
      font-size: $header-font-size;
    }

    .weather-desc {
      margin-bottom: $md-spacing;
      text-transform: capitalize;
    }

    .weather-temp {
      font-size: clamp(5rem, 7vw, 8rem);
    }

    .location-container {
      @include flex-center;
      margin-top: $md-spacing;
      gap: $s-spacing;

      .location {
        color: rgba(255, 255, 255, 0.61);
        letter-spacing: 4px;
      }

      .location-img {
        width: 70px;
        border-radius: 20px;
      }
    }
  }

  p {
    font-weight: 600;
    color: $main-font-colour;
  }

  .search-box {
    border: none;
    border-radius: 20px;
    padding: $xs-spacing 550px $xs-spacing $md-spacing;
    background: $transparent-colour;
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: $xl-spacing;
    color: $secondary-font-colour;
  }
  .search-box::placeholder {
    color: rgba(0, 0, 0, 0.22);
    font-weight: 600;
    font-size: 1.25rem;
  }
  .search-box:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.514);
  }
}
