@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

// Font Style
$main-font-style: "Rubik", sans-serif;

// Font Sizes
$header-font-size: clamp(1.2rem, 2vw, 2rem);

// Font Colours
$main-font-colour: white;
$secondary-font-colour: #696969;

// Background Colours
$day-bg-colour: linear-gradient(
  180deg,
  rgba(0, 179, 236, 0.55) 0%,
  #1a9ec8 58.56%
);
$transparent-colour: rgba(255, 255, 255, 0.44);

// Spacing
$xxs-spacing: 4px;
$xs-spacing: 8px;
$s-spacing: 12px;
$md-spacing: 20px;
$l-spacing: 32px;
$xl-spacing: 52px;
$xxl-spacing: 84px;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-horiz {
  display: flex;
  justify-content: center;
}

@mixin flex-center-vert {
  display: flex;
  align-items: center;
}
