@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Rubik", sans-serif;
  background: linear-gradient(180deg, rgba(0, 179, 236, 0.55) 0%, #1a9ec8 58.56%);
  background-attachment: fixed;
}

.container {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: clamp(1.2rem, 2vw, 2rem);
  color: white;
  padding: 52px;
}
header .local-time-text {
  font-size: clamp(0.6rem, 1vw, 1rem);
}

main form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main form .search-box-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 20px;
  width: 600px;
  padding: 4px 32px;
  background: rgba(255, 255, 255, 0.44);
  margin-top: 52px;
  color: #696969;
}
main form .search-box {
  color: white;
  width: 100%;
  font-weight: 600;
  font-size: 1.25rem;
  background: transparent;
  border: none;
}
main form .search-box::-moz-placeholder {
  color: rgba(0, 0, 0, 0.22);
  font-weight: 600;
  font-size: 1.25rem;
}
main form .search-box:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.22);
  font-weight: 600;
  font-size: 1.25rem;
}
main form .search-box::placeholder {
  color: rgba(0, 0, 0, 0.22);
  font-weight: 600;
  font-size: 1.25rem;
}
main form .search-box:focus {
  outline: none;
}
main form button {
  display: flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
main form button .search-img {
  width: 30px;
}
main .error-code {
  text-align: center;
}

@media (max-width: 663px) {
  main form .search-box-container {
    width: auto;
  }
}
.weather-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 12px;
}
.weather-container .weather-icon {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
.weather-container .weather-desc,
.weather-container .location {
  font-size: clamp(1.2rem, 2vw, 2rem);
}
.weather-container .weather-desc {
  margin-bottom: 20px;
  text-transform: capitalize;
}
.weather-container .weather-temp {
  font-size: clamp(5rem, 7vw, 8rem);
}
.weather-container .location-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 12px;
}
.weather-container .location-container .location {
  color: rgba(255, 255, 255, 0.61);
  letter-spacing: 4px;
}

p {
  font-weight: 600;
  color: white;
}

.error-code {
  color: rgb(159, 2, 2);
  margin-top: 20px;
}

.more-weather-info-container {
  display: flex;
  justify-content: space-between;
  margin-top: 52px;
  padding: 52px;
  flex-wrap: wrap;
  gap: 100px;
}
.more-weather-info-container .info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.more-weather-info-container .info-container p {
  color: "Rubik", sans-serif;
  font-size: 1.5rem;
}

@media (max-width: 450px) {
  .more-weather-info-container {
    justify-content: center;
  }
}/*# sourceMappingURL=main.css.map */